<div class="page">
  <div class="container-fluid content-display" align="center">
    <div align="right">
      <a routerLink="/home" class="btn btn-link nav-item">Login</a>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h3>Forgot Password</h3>
      <p>Please enter your email below. You<br>
        will receive a link to reset the password</p>
      <label>email</label>
      <input class="col-md-4" formControlName="email" type="email" #email>
      <span class="alert col-md-4" *ngIf="!resetPasswordForm.controls['email'].valid && resetPasswordForm.controls['email'].touched">Please
        key in the correct format</span>
      <div *ngIf="loading" class="loader"></div>
      <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==0">The backend server is down. Please contact the developer</span>
      <span class="alert alert-info col-md-4" role="alert" *ngIf="status==200">You should receive your email very shortly</span>
      <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==404">Cannot find any lifegroup registered by the email you entered</span>
      <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==500">Could not send the email. Please try again.</span>
      <span class="alert alert-warning col-md-4" role="alert" *ngIf="status!=null&&status!=0&&status!=200&&status!=404&&status!=500">{{status}} error. Please contact the developer</span>
      <button type="submit" class="btn btn-warning col-md-4">Send</button>
    </form>
  </div>
</div>