<div class="page">
    <div class="container-fluid content-display" align="center">
      <div align="right">
        <a routerLink="/home" class="btn btn-link nav-item">Login</a>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h3>Reset Password</h3>
        <div *ngIf="loading" class="loader"></div>
        <label>New Password</label>
        <input class="col-md-4" placeholder="Enter the new password" formControlName="password" type="password" #password>
        <label>Confirm Password</label>
        <input class="col-md-4" placeholder="Enter the password again" formControlName="confirm_password" type="password" #confirmPassword><br>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==0">The backend server is down. Please contact the developer</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==400" >Passwords do not match or reset code expired/does not match</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==401" >The link has expired, click <a href={{link}}>here</a> to get a new link</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==422" >Authorisation failed, click <a href={{link}}>here</a> to get a new link</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="status==500" >Something is wrong with the database. Please try again.</span>
        <span class="alert alert-warning col-md-4" role="alert" *ngIf="status!=null&&status!=0&&status!=200&&status!=400&&status!=401&&status!=422&&status!=500" >{{status}} error. Please contact the developer</span>
        
        <button type="submit" class="btn btn-warning col-md-4">submit</button>
      </form>
    </div>
  </div>